footer.footer
  .container-main
    //.logo
      //.image
      img(src="/img/logo-footer.svg", alt="")
      p Palmeri<br>Design & SMM<br>Agency
    .footer-menu
      .block
        ul
          li
            a(href="#") Об агенстве
          li
            a(href="#") Вакании
          li
            a(href="#") Команда
          li
            a(href="#") Портфолио
      .block
        ul
          li
            a(href="tel:+7(968) 950-35-05") +7(968) 950-35-05
          li
            .row
              a(href="tel:+7(964) 942-11-92") +7(964) 942-11-92
              a.whatsapp.social-icon(href="#")
              a.telegram.social-icon(href="#")
          li
            a(href="mailto:sales@palmeri.studio")
              | sales@palmeri.studio
          li
            .row.social
              a.instagram.social-icon(href="#")
              a.vk.social-icon(href="#")
              a.fb.social-icon(href="#")
  .container-main.between
    .policy © 2019 Palmeri Agensi
    .links
      a(href="#") Политика обработки данных
      a(href="#") Политика конфиденциальности