//BEGIN header
header.header
  .container
    .logo
      .logo__image
        img(src="img/logo.svg", alt="")
      h1 Palmeri<br>Design & SMM<br>Agency
    a.lang.is-active(href="#") RU
    a.lang(href="#") EN
    .button
      a(href="#").btn.btn-primary
        span Начать проект
    .menu
      .menu-content
        span
        span
        span
//END header
.menu-popup
  .line1
  .line2
  .container-main
    ul
      li
        a(href="#") Услуги
      li
        a(href="#") О компании
      li
        a(href="#") Проекты
      li
        a(href="#") Вакансии
    .button
      a(href="#").btn.btn-primary
        span Начать проект
    .menu-flex
      ul
        li
          a(href="tel:+7(968) 950-35-05") +7(968) 950-35-05
        li
          .row
            a(href="tel:+7(964) 942-11-92") +7(964) 942-11-92
            a.whatsapp.social-icon(href="#")
            a.telegram.social-icon(href="#")
        li
          a(href="mailto:sales@palmeri.studio")
            | sales@palmeri.studio
        li
          .row.social
            a.instagram.social-icon(href="#")
            a.vk.social-icon(href="#")
            a.fb.social-icon(href="#")
    .switch-lang
      a.lang.is-active(href="#") RU
      a.lang(href="#") EN