@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arrow-back: "\EA01";
$icon-arrow-down: "\EA02";
$icon-arrow-next: "\EA03";
$icon-arrow: "\EA04";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-arrow-back:before { content: $icon-arrow-back; }
.icon-arrow-down:before { content: $icon-arrow-down; }
.icon-arrow-next:before { content: $icon-arrow-next; }
.icon-arrow:before { content: $icon-arrow; }
