.icon-arrow-back {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-arrow-down {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-arrow-next {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
